# http://editorconfig.org

root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# Use 4 spaces & 119 characters per line for Python
[*.py]
indent_size = 4
max_line_length = 79

# Use 4 spaces for the reStructuredText files
[*.rst]
indent_size = 4
max_line_length = 79

[Makefile]
indent_size = 4
indent_style = tab
