[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
mypy = "*"
# For tests
pytest = "*"
pytest-cov = "*"
codecov = "*"
# For docs
sphinx = "*"
sphinx_rtd_theme = "*"
sphinx-autobuild = "*"
travis-sphinx = "*"
recommonmark = "*"
sphinxcontrib-rawfiles = "*"
# Psychopy (won't be installed for linux)
psychopy = {version = "*",sys_platform = "!= 'linux'"}

[packages]
pandas = "*"
scipy = "*"
numpy = "*"
adopy = {editable = true,path = "."}

[requires]
python_version = "3"
